<div class="card-container">
        <p class="card">Créez votre accord</p>
        <p class="card-accord">
            <span class="fondamentale-bleu">
                C#{{note}}
            </span>
           <span class="quality-green">
            {{quality}}m7b5
           </span>
            <span>
                /
            </span>
            <span class="bass-brown">
                {{basse}}/D
            </span>
        </p>
</div>
<h4>Fondamentales</h4>
<div class="card-container">
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngFor="let note of notes">
        <a [ngClass]="note.length == 2 ? 'card dieze' : 'card'" routerLink="{{note}}/{{quality}}/{{basse}}">{{ note
            }}</a>
    </div>
</div>
<hr>
<h4>Accords</h4>
<div class="card-container">
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngFor="let note of notes">
        <a class="card" routerLink="{{note}}/{{quality}}/{{basse}}">{{ note }}</a>
    </div>
</div>
<hr>
<h4>Basses</h4>
<div class="card-container">
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngFor="let note of notes">
        <a [ngClass]="note.length == 2 ? 'card dieze' : 'card'" routerLink="{{note}}/{{quality}}/{{basse}}">{{ note
            }}</a>
    </div>
</div>
<hr>