<div class="toolbar" role="banner">
    <div class="card-container">
        <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="card" routerLink="">Home</a>
        </div>
        <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="card" routerLink="/createChord">Création</a>
        </div>
        <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="card" routerLink="/grille">Afficher la grille</a>
        </div>

    </div>
</div>